Case Study Seven: 

By: Allen Hoskins & Brittany Lewandowski

In [1]:
#Importing in required libraries:

import pandas as pd
import numpy as np

In [2]:
#Converting our final_project csv to a data frame and decoding it using a method of utf-8:
df = pd.read_pickle(r'/Users/allen/Desktop/MSDS/QTW/large datasets/cs7/data_sets/cs7.pkl.gzip',compression='gzip')

In [3]:
pd.set_option('display.max_columns',None)

In [4]:
df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25,x26,x27,x28,x29,x30,x31,x32,x33,x34,x35,x36,x37,x38,x39,x40,x41,x42,x43,x44,x45,x46,x47,x48,x49,y
0,-0.166563,-3.961588,4.621113,2.481908,-1.800135,0.804684,6.718751,-14.789997,-1.040673,-4.204950,6.187465,13.251523,25.665413,-5.017267,10.503714,-2.517678,2.117910,5.865923,-6.666158,1.791497,-1.909114,-1.737940,-2.516715,3.553013,euorpe,-0.801340,1.142950,1.005131,-18.473784,July,tuesday,-3.851669,0.0%,-1.940031,-5.492063,0.627121,-0.873824,$1313.96,-1.353729,-5.186148,-10.612200,-1.497117,5.414063,-2.325655,1.674827,-0.264332,60.781427,-7.689696,0.151589,-8.040166,0
1,-0.149894,-0.585676,27.839856,4.152333,6.426802,-2.426943,40.477058,-6.725709,0.896421,0.330165,-11.708859,-2.352809,-25.014934,9.799608,-10.960705,1.504000,-2.397836,-9.301839,-1.999413,5.045258,-5.809984,10.814319,-0.478112,10.590601,asia,0.818792,-0.642987,0.751086,3.749377,Aug,wednesday,1.391594,-0.02%,2.211462,-4.460591,1.035461,0.228270,$1962.78,32.816804,-5.150012,2.147427,36.292790,4.490915,0.762561,6.526662,1.007927,15.805696,-4.896678,-0.320283,16.719974,0
2,-0.321707,-1.429819,12.251561,6.586874,-5.304647,-11.311090,17.812850,11.060572,5.325880,-2.632984,1.572647,-4.170771,12.078602,-5.158498,7.302780,-2.192431,-4.065428,-7.675055,4.041629,-6.633628,1.700321,-2.419221,2.467521,-5.270615,asia,-0.718315,-0.566757,4.171088,11.522448,July,wednesday,-3.262082,-0.01%,0.419607,-3.804056,-0.763357,-1.612561,$430.47,-0.333199,8.728585,-0.863137,-0.368491,9.088864,-0.689886,-2.731118,0.754200,30.856417,-7.428573,-2.090804,-7.869421,0
3,-0.245594,5.076677,-24.149632,3.637307,6.505811,2.290224,-35.111751,-18.913592,-0.337041,-5.568076,-2.000255,-19.286668,10.995330,-5.914378,2.511400,1.292362,-2.496882,-15.722954,-2.735382,1.117536,1.923670,-14.179167,1.470625,-11.484431,asia,-0.052430,-0.558582,9.215569,30.595226,July,wednesday,-2.285241,0.01%,-3.442715,4.420160,1.164532,3.033455,$-2366.29,14.188669,-6.385060,12.084421,15.691546,-7.467775,2.940789,-6.424112,0.419776,-72.424569,5.361375,1.806070,-7.670847,0
4,-0.273366,0.306326,-11.352593,1.676758,2.928441,-0.616824,-16.505817,27.532281,1.199715,-4.309105,6.667530,1.965913,-28.106348,-1.258950,5.759941,0.472584,-1.150097,-14.118709,4.527964,-1.284372,-9.026317,-7.039818,-1.978748,-15.998166,asia,-0.223449,0.350781,1.811182,-4.094084,July,tuesday,0.921047,0.01%,-0.431640,12.165494,-0.167726,-0.341604,$-620.66,-12.578926,1.133798,30.004727,-13.911297,-5.229937,1.783928,3.957801,-0.096988,-14.085435,-0.208351,-0.894942,15.724742,1

In [5]:
def parseFloat(str):
    try:
        return float(str)
    except:
        str = str.strip()
        if str.endswith("%"):
            return float(str.strip("%").strip()) / 100
        raise Exception("Don't know how to parse %s" % str)

df['x32'] = df['x32'].apply(parseFloat)

In [6]:
df['x37'] = df['x37'].apply(lambda x: x.replace('$', '').replace(',', '')
                                if isinstance(x, str) else x).astype(float)

In [7]:
print(f'Column X24 Unique values:\n {df.x24.unique()}\n')
print(f'Column X29 Unique values:\n {df.x29.unique()}\n')
print(f'Column X30 Unique values:\n {df.x30.unique()}')

Column X24 Unique values:
 ['euorpe' 'asia' 'america' nan]

Column X29 Unique values:
 ['July' 'Aug' 'Jun' 'May' 'sept.' 'Apr' 'Nov' 'Oct' nan 'Mar' 'Feb' 'Dev'
 'January']

Column X30 Unique values:
 ['tuesday' 'wednesday' 'thurday' 'monday' 'friday' nan]

In [8]:
for col in ['x24', 'x29','x30']:
    df[col] = df[col].replace(np.nan, 'Unknown', regex=True)

In [9]:
print(f'Column X24 Unique values:\n {df.x24.unique()}\n')
print(f'Column X29 Unique values:\n {df.x29.unique()}\n')
print(f'Column X30 Unique values:\n {df.x30.unique()}')

Column X24 Unique values:
 ['euorpe' 'asia' 'america' 'Unknown']

Column X29 Unique values:
 ['July' 'Aug' 'Jun' 'May' 'sept.' 'Apr' 'Nov' 'Oct' 'Unknown' 'Mar' 'Feb'
 'Dev' 'January']

Column X30 Unique values:
 ['tuesday' 'wednesday' 'thurday' 'monday' 'friday' 'Unknown']

In [10]:
#rename month column
x29_map = {'July':'July', 'Aug':'August', 'Jun':'June', 'May':'May', 'sept.':'September',
             'Apr':'April','Nov':'November', 'Oct':'October','Unknown':'Unknown',
             'Mar':'March', 'Feb':'February','Dev':'December','January':'January'}\

df['x29'] = df['x29'].map(x29_map)

In [11]:
df['impute_col'] = df['x24']+df['x29']+df['x30']

In [12]:
#create copies of dataframes
df_mean = df.copy()
df_median = df.copy()
df_mode = df.copy()
df_drop = df.copy()

In [13]:
col_list = list(df.columns)
unwanted_num = {'x24', 'x29','x30','impute_col'}
 
col_list = [ele for ele in col_list if ele not in unwanted_num]

In [14]:
for col in col_list:
    df_median[col]=df_median.groupby('impute_col')[col].apply(lambda x:x.fillna(x.median()))

In [15]:
for col in col_list:
    df_median[col] =  (df_median.groupby(['impute_col'],dropna=False)[col].apply(lambda x: x.fillna(x.median())))
    df_mean[col] =  (df_mean.groupby(['impute_col'],dropna=False)[col].apply(lambda x: x.fillna(x.mean())))
    df_mode[col] =  (df_mode.groupby(['impute_col'],dropna=False)[col].apply(lambda x: x.fillna(x.mode())))

In [16]:
df_median = df_median.drop(columns=['impute_col'])
df_mean = df_mean.drop(columns=['impute_col'])
df_mode = df_mode.drop(columns=['impute_col'])
df_drop = df_drop.dropna(inplace=True)